[Unit]
Description=MIDI Patchbay Autoconnect
After=sound.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/midi-patchbay.sh
StandardOutput=journal
StandardError=journal
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

