[Unit]
Description=MIDI Patchbay Daemon - Auto-connect MIDI ports
After=sound.target

[Service]
Type=simple
ExecStart=/usr/local/bin/midi-patchbay.sh --daemon --interval 2
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
User=shreyash

[Install]
WantedBy=multi-user.target

